# GitHubActions_Demo12_SonarScan_NodeJS
# This demo workflow is to show the usage of SonarQube Scan in a NodeJS application using GitHub Actions
# Demo12_Sonar_Scan_NodeJS.yml
# The workflow is triggered manually using workflow_dispatch
# The workflow consists of a single job named 'SonarQube' that runs on the latest Ubuntu environment
# The steps in the job include:
# 1. Cloning the repository using actions/checkout@v5
# 2. Installing NodeJS using actions/setup-node@v6 with NodeJS version 18 and caching npm dependencies
# 3. Installing project dependencies using 'npm ci' command
# 4. Running tests using 'npm test' command
# 5. Building the application using 'npm run build' command
# 6. Running SonarQube analysis using SonarSource/sonarcloud-github-action@master
# The SonarQube analysis step uses environment variables for SONAR_TOKEN and GITHUB_TOKEN 
# to authenticate and authorize the analysis
# Make sure to set the SONAR_TOKEN secret in your GitHub repository settings for this workflow to work correctly
# Note: Adjust the NodeJS version and other commands as per your project requirements
---
 
name: Build + Sonar Scan NodeJS Application
on: workflow_dispatch  # Allow manual triggering
jobs:
  SonarQube:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the Repository
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          # node-version: '24'
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Run Tests/Execute Test Cases
        run: npm test
      - name: Build Application/Code
        run: npm run build

      # - name: Run tests and generate coverage
      #   run: |
      #     npm run test:coverage
      
      - name: Run SonarQube Analysis
        # uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}               # Set this secret in your repository settings
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}             # Auto-generated by GitHub
          SONAR_PROJECT_KEY: FaizReza_GitHubActions_Demo12_SonarQube_NodeJS  
          SONAR_ORG: FaizReza           
          SONAR_HOST_URL: https://sonarcloud.io
        
        run: |
          echo "Project Key: $SONAR_PROJECT_KEY"
          echo "Organization: $SONAR_ORG"
          echo "Sonar Host: $SONAR_HOST_URL"
          
          npx sonarqube-scanner \
            -Dsonar.projectKey=$SONAR_PROJECT_KEY \
            -Dsonar.organization=$SONAR_ORG \
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info \
            -Dsonar.host.url=$SONAR_HOST_URL \
            -Dsonar.javascript.coveragePlugin=lcovonly
